
1.2/Source/VFEV/obj/
1.2/Source/VFEV/.vs/
1.3/Source/VFEV/.vs/VFEV/v16/.suo
1.3/Source/VFEV/obj/Debug/VFEV.dll
1.3/Source/VFEV/obj/Debug/VFEV.csprojAssemblyReference.cache
1.3/Source/VFEV/obj/Debug/VFEV.csproj.FileListAbsolute.txt
